@model IEnumerable<MoviePro.Models.Movie>
@using  MoviePro.Enums

@using MoviePro.Services
@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
}

<h1>Movie Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add New Movie</a>
</p>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TagLine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Overview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trailer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TagLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Overview)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trailer)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

@*CARD/MODAL BELOW*@
<div class="row card-deck">
    @foreach (var movie in Model.OrderBy(m => m.Title))
    {
        <div class="col-4">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img id="PosterImage" class="card-img-top" src="@_imageService.DecodePoster(movie.Poster, movie.ContentType)" />
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.TagLine</p>
                        <button data-toggle="modal" data-target="#modal-@movie.Id" class="btn btn-primary">Quick Look</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>

    }
</div>



    @foreach (var movie in Model)
    {
        <div class="modal fade" id="modal-@movie.Id" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="PosterImage" class="card-img-top" src="@_imageService.DecodePoster(movie.Poster, movie.ContentType)" />
                        <h5 class="modal-title">@movie.Title</h5>
                        <p>@movie.ReleaseDate.ToString("MM/yy")</p>
                        <p>@movie.Rating</p>
                        <p>@movie.TagLine</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@movie.Id">More Details</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
 
}
    